body {
background-color: black;

}
.calculadora { 
    border: 8px #474DA1 ridge;
    width: 320px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#pantalla { 
    width: 255px;
    height: 40px; 
    border: 2px #EDEDEE outset; 
    background-color: #EDEDEE;
    position: absolute;
    left: 555px;
    margin-top: -50px;  
    padding: 0px 0px;
    -moz-border-radius: 30%;
    -webkit-border-radius: 20%;
    border-radius: 30%;
    font-size: 30px; 
    font-family: "courier new"; 
    font-weight: bold;
    text-align: right;
    overflow: hidden;
}
#teclas {
    position: absolute;
    left: 545px;
    margin-top: 4px;
    padding: 0px 0px;
    background-color: black;
}
#button{
    width: 45px;
    height: 40px;
    margin: 2px;
    color: whitesmoke;
    background-color: #474DA1;
    font-size: 25px;
    font-family: 'Lekton', sans-serif;
    cursor: pointer;
}
#button1{
    width: 45px;
    height: 40px;
    margin: 2px;
    color: whitesmoke;
    background-color: #474DA1;
    font-size: 15px;
    font-family: 'Lekton', sans-serif;
    cursor: pointer;
}
#rojo {
    width: 45px;
    height: 40px;
    margin: 2px;
    color: black; 
    background-color: red;
    border: 3px red outset;
    padding: 0;
    font-family: 'Lekton', sans-serif;  
    font-size: 25px;;
    font-weight: bold;
    cursor: pointer;
}
#rojo1 {
    width: 45px;
    height: 40px;
    margin: 2px;
    color: black; 
    background-color: red;
    border: 3px red outset;
    padding: 0;
    font-size: 20px;;
    font-family: 'Lekton', sans-serif;
    font-weight: bold;  
    cursor: pointer;
}

#largo {
    width: 100px;
    height: px;
    margin: 2px;
    color: whitesmoke;
    background-color: #474DA1;
    border: 3px #494A58 outset; 
    font-size: 30px;
    font-family: 'Lekton', sans-serif;
    cursor: pointer;
}
  
#largo2 {
    width: 45px;
    height: 90px;
    margin: 2px;
    color: whitesmoke;
    background-color: #474DA1;
    border: 3px #494A58 outset;  
    font-size: 30px;
    font-family: 'Lekton', sans-serif;
    cursor: pointer;
}

